# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.pyc
# Environments
.env
.env.*
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
staticfiles/
media/

# IDEs/Editors
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
